<h1>hello</h1>

hello {{name}}, you have {{num}} orders

<form class="row g-3">
  <div class="col-auto">
      <input class="form-control" width="50" [value]='num1' />
  </div>
  <div class="col-auto">
      <button type="button" class="btn btn-primary" (click)="f1()">click</button>
  </div>
  <div class="col-auto">
    <input class="form-control" width="50" [value]='t1' />
</div>
<div class="col-auto">
    <button type="button" class="btn btn-primary" (click)="f2()">click</button>
</div>

</form>
<form class="row g-3">
    <div class="col-auto">
        <input class="form-control" width="50" [value]='t2' />
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary" (click)="f3()">click</button>
    </div>
  
  </form>
  